.App {
  text-align: center;
}

#bookSearch::placeholder {
  color: white;
  opacity: 1;
}

.removeMobile {
  display: none;
}

button.buttonBrandPrimary:hover {
  background-color: #0d7e84;
}

.w75{
  width: 75%;
}

.w100 {
  width: 100%;
}

.centered-form{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  #detail_btn_margin {
    margin-right: -3%;
  }

  .removeMobile {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  #detail_btn_margin {
    margin-right: -16%;
    margin-bottom: -3%;
  }

  .removeMobile {
    display: block;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00AFB9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00AFB9 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-search-button:hover{
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.729);
}