.App {
  text-align: center;
}

#bookSearch::placeholder {
  color: white;
  opacity: 1;
}
.removeMobile {
  display: none;
}

button.buttonBrandPrimary:hover{
  background-color: #0d7e84;
}

@media screen and (min-width: 600px) {
  #detail_btn_margin {
    margin-right: -3%;
  }
  .removeMobile {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #detail_btn_margin {
    margin-right: -16%;
    margin-bottom: -3%;
  }
  .removeMobile {
    display: block;
  }
}
